Body{
  min-height: 100vh;
  min-width: 100vw;
  background-color: red;
}

.App {
  background-color:darkgrey;
  font-family: sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 70vh;
  min-width: 60vh;
  border-radius: 6px;
  text-align: center;
}

.form{
  margin-top: 30px;
}
.title{
  
}

.j {
  background-color: darkblue;
}
